
@font-face {
  font-family: "DD";
  font-weight: 500;
  font-display: block;
  src: url(/dd.woff2) format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-display: swap;
  src: url(/JetBrainsMono-Regular.woff2) format("woff2");
}

::selection {
  background: var(--color-orange);
  color: white;
}

@theme {
  --font-sans:
    "DD", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", "Menlo", monospace;
  /* Font size */
  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-56: 3.5rem;
  --text-64: 4rem;
  /* Font weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  /* Line height */
  --leading-12: 0.75rem;
  --leading-16: 1rem;
  --leading-20: 1.25rem;
  --leading-24: 1.5rem;
  --leading-28: 1.75rem;
  --leading-32: 2rem;
  --leading-40: 2.5rem;
  --leading-48: 3rem;
  --leading-56: 3.5rem;
  /* Radius */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
  /* Shadows */
  --shadow-border-color: rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-border: 0 0 0 1px var(--shadow-border-color);
  --shadow-border-inset: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  --shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --shadow-border-small: var(--shadow-border), var(--shadow-small);
  --shadow-medium:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --shadow-border-medium: var(--shadow-border), var(--shadow-medium);
  --shadow-large:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --shadow-border-large: var(--shadow-border), var(--shadow-large);
  --shadow-tooltip:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-menu:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
  --shadow-modal:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --shadow-fullscreen:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --color-orange: #ff4d00;
  --color-red: #ff2b43;
  --color-orange-bg: #ff4d0010;
  --color-orange-bg2: #ff4d0095;
  --color-orange-bg3: #ff4d0018;
  --color-yellow: #ffd335;
  --color-blue: #0070f3;
  --color-code-block-bg: #fff;
  --color-demo-bg: var(--color-gray2);
  --color-code-tag: #fb7100;
  --color-code-string: rgb(6, 122, 110);
  /* Gray */
  --color-high-contrast: #000;
  --color-low-contrast: #fff;
  --color-bg: var(--color-gray1);
  --color-gray1: hsl(0 0% 99%);
  --color-gray2: hsl(0 0% 97.3%);
  --color-gray3: hsl(0 0% 95.1%);
  --color-gray4: hsl(0 0% 93%);
  --color-gray5: hsl(0 0% 90.9%);
  --color-gray6: hsl(0 0% 88.7%);
  --color-gray7: hsl(0 0% 85.8%);
  --color-gray8: hsl(0 0% 78%);
  --color-gray9: hsl(0 0% 56.1%);
  --color-gray10: hsl(0 0% 52.3%);
  --color-gray11: hsl(0 0% 43.5%);
  --color-gray12: hsl(0 0% 9%);
  /* Gray Alpha */
  --color-gray-a1: hsla(0, 0%, 0%, 0.012);
  --color-gray-a2: hsla(0, 0%, 0%, 0.027);
  --color-gray-a3: hsla(0, 0%, 0%, 0.047);
  --color-gray-a4: hsla(0, 0%, 0%, 0.071);
  --color-gray-a5: hsla(0, 0%, 0%, 0.09);
  --color-gray-a6: hsla(0, 0%, 0%, 0.114);
  --color-gray-a7: hsla(0, 0%, 0%, 0.141);
  --color-gray-a8: hsla(0, 0%, 0%, 0.22);
  --color-gray-a9: hsla(0, 0%, 0%, 0.439);
  --color-gray-a10: hsla(0, 0%, 0%, 0.478);
  --color-gray-a11: hsla(0, 0%, 0%, 0.565);
  --color-gray-a12: hsla(0, 0%, 0%, 0.91);
  /* Focus */
  --color-focus: var(--color-orange);
  --focus-ring: 2px solid var(--color-focus);
  /* Hit area for interactive elements */
  --hit-area-color: transparent;
}

.dark {
  --color-bg: #0a0a0a;
  --color-high-contrast: #fff;
  --color-low-contrast: #0a0a0a;
  --color-demo-bg: hsl(0 0% 7%);
  --color-code-block-bg: var(--color-demo-bg);
  --color-code-tag: #ffc799;
  --color-code-string: #99ffe4;
  /* Gray */
  --color-gray1: hsl(0 0% 8.5%);
  --color-gray2: hsl(0 0% 11%);
  --color-gray3: hsl(0 0% 13.6%);
  --color-gray4: hsl(0 0% 15.8%);
  --color-gray5: hsl(0 0% 17.9%);
  --color-gray6: hsl(0 0% 20.5%);
  --color-gray7: hsl(0 0% 24.3%);
  --color-gray8: hsl(0 0% 31.2%);
  --color-gray9: hsl(0 0% 43.9%);
  --color-gray10: hsl(0 0% 49.4%);
  --color-gray11: hsl(0 0% 62.8%);
  --color-gray12: hsl(0 0% 93%);
  /* Shadows */
  --shadow-border-color: var(--color-gray3);
}

/* Utilities */
.translate-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.translate-z-0 {
  transform: translateZ(0);
}

.translate-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.translate-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a,
button,
input,
textarea {
  outline: 0;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--color-focus);
}

body {
  background: var(--color-bg);
  color: var(--color-gray12);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
