.checkbox {
  --ts-1: 300ms;
  --ts-2: 600ms;
  --size: 20px;
  --tick: #fff;
  --border: var(--color-gray6);
  --active: var(--color-orange);
  position: relative;
  pointer-events: none;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-4);
  transition: box-shadow var(--ts-1), background var(--ts-1);
  box-shadow: inset 0 0 0 2px var(--b, var(--border));

  svg {
    fill: none;
    stroke: var(--active);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray var(--ts-2), stroke-dashoffset var(--ts-2);
  }

  &[data-checked="true"] {
    background: var(--active);
    --b: var(--active);
    transition-delay: .4s;

    svg {
      --a: 16 86.12;
      --o: 102.22;
      animation-name: fill;
      animation-delay: var(--ts-1);
      animation-fill-mode: forwards;
      animation-timing-function: ease;
      animation-duration: var(--ts-2);
    }
  }
}

@keyframes fill {
  0% {
    stroke: var(--active);
  }
  100% {
    stroke: var(--tick);
  }
}
