.line {
  background-image: linear-gradient(
    to right,
    var(--color-gray5, #e8e8e8) 50%,
    var(--color-gray8, #c8c8c8) 50%
  );
  height: 1px;
  position: absolute;
  transform-origin: 0px 0px;
  user-select: none;

  &:focus-visible {
    outline: 0;

    [data-slot="meta"] {
      opacity: 1 !important;
      outline: 2px solid var(--highlight-color);
      outline-offset: 4px;
      border-radius: 6px;
    }
  }

  &[data-variant="large"],
  &[data-variant="medium"] {
    background: var(--color-gray12, #171717);
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: var(--hit-area-color);
      padding: 8px;
      border-radius: 8px;
    }
  }

  &[data-hovered="true"],
  &:focus-visible {
    background: var(--highlight-color, #ff4d00);
    color: var(--highlight-color, #ff4d00);
  }
}

.item {
  color: var(--color-gray12, #171717);
  font-size: 15px;
  max-width: 580px;
  margin: 0 auto;
  line-height: 28px;
}
